# ==============================================
# DOCKER COMPOSE - ENVIRONMENT VARIABLES
# ==============================================

# Timezone
TZ=America/Sao_Paulo

# ==============================================
# APP
# ==============================================
APP_CONTAINER_NAME=laravel12-skeleton
APP_PORT=8020

# ==============================================
# APP FRONTEND
# ==============================================
APP_FRONTEND_CONTAINER_NAME=laravel12-skeleton-frontend
APP_FRONTEND_PORT=8080

# ==============================================
# QUEUE
# ==============================================
QUEUE_CONTAINER_NAME=laravel12-queue
QUEUE_NAMES=emails,default

# ==============================================
# DATABASE - MYSQL
# ==============================================
DB_CONTAINER_NAME=laravel12-skeleton-db
DB_PORT=3306
MYSQL_USER=default_user
MYSQL_ROOT_PASSWORD=DefaultPassword123
MYSQL_PASSWORD=DefaultPassword123
MYSQL_DATABASE=laravel

# ==============================================
# REDIS
# ==============================================
REDIS_CONTAINER_NAME=redis-laravel-skeleton
REDIS_PORT=6379
REDIS_PASSWORD=bananinha123

# ==============================================
# JAEGER - TRACING
# ==============================================
JAEGER_CONTAINER_NAME=jaeger
JAEGER_UI_PORT=16686
JAEGER_OTLP_GRPC_PORT=4317
JAEGER_OTLP_HTTP_PORT=4318

# ==============================================
# OPENTELEMETRY COLLECTOR
# ==============================================
OTEL_CONTAINER_NAME=otel-collector
